.button {
  border: none;
  color: var(--white);
  background: var(--primary);
  border-radius: var(--small-radius);
  padding: var(--secondary-button-padding);
  transition: 0.15s ease-in-out;

  &:disabled {
    cursor: no-drop;
  }
}

.secondary {
  background: none;
  color: var(--secondary-button-color);
  transition: none;

  &:not(:disabled):is(:focus, :hover) {
    text-decoration: underline;
  }
}

.interactions {
  &:not(:disabled):is(:focus, :hover) {
    background: var(--secondary-button-color-hover);
  }
}

.tertiary {
  color: var(--tertiary-button-color);
  background: var(--tertiary-button-bg);

  &:not(:disabled):is(:focus, :hover) {
    background: var(--tertiary-button-color-hover);
  }
}
