@import './src/styles/_mixins.scss';

.note {
  @include wrapper;
  padding: 3.6rem 2.4rem;
  position: relative;

  @media screen and (max-width: $sm) {
    border-radius: none;
    padding: 2.4rem;
  }

  [data-rehype-pretty-code-fragment] {
    margin: 0;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    color: var(--color) !important;

    a {
      &:is(:hover, :focus) {
        text-decoration: underline;
        text-decoration-style: wavy;

        text-underline-offset: 3px;
      }

      &::before {
        display: none;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    left: -21px;
    top: -20px;
    z-index: 2;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    left: -21px;
    top: -18px;
    background: var(--background);
    border-radius: 50%;
    z-index: 2;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }
}

.hero-pattern-active {
  &::before {
    height: calc(100% + calc(3.6rem * 2));
  }
}

.hero-pattern-is-not-active {
  &::before {
    height: calc(100% + calc(5.6rem * 2));
  }
}

.hero-pattern {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2.1rem;

  &::before {
    content: '';
    position: absolute;
    top: -3.6rem;
    left: -2.4rem;
    width: calc(100% + calc(2.4rem * 2));
    pointer-events: none;
    opacity: 0.05;
    z-index: 0;
  }
}

.note-normal {
  background: var(--note-information-color);
  border-left: 3px solid var(--note-information-color-border);

  p {
    color: var(--info-paragraph) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      &:is(:hover, :focus) {
        text-decoration-color: var(--note-information-color-border);
      }
    }
  }

  &::after {
    background: url(/assets/3d/notebook-dynamic-color.png) no-repeat center / cover;
  }
}

.hero-pattern-normal {
  &::before {
    background: url(/assets/3d/hero-pattern.png);
  }
}

.note-positive {
  background: var(--success-bg);
  border-left: 3px solid var(--success);

  p {
    color: var(--success-paragraph) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      &:is(:hover, :focus) {
        text-decoration-color: var(--success);
      }
    }
  }

  &::after {
    left: -27px;
    background: url(/assets/3d/thumb-up-dynamic-color.png) no-repeat center / cover;
  }
}

.hero-pattern-positive {
  &::before {
    background: url(/assets/3d/hero-pattern-good-practice.png);
  }
}

.note-negative {
  background: var(--error-bg);
  border-left: 3px solid var(--error);

  p {
    color: var(--error-paragraph) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      &:is(:hover, :focus) {
        text-decoration-color: var(--error);
      }
    }
  }

  &::after {
    left: -27px;
    top: -16px;
    rotate: 30deg;
    background: url(/assets/3d/thumb-down-dynamic-color.png) no-repeat center / cover;
  }
}

.hero-pattern-negative {
  &::before {
    background: url(/assets/3d/hero-pattern-bad-practice.png);
  }
}
