.pick-programming-language {
  border: none;
  height: 4.2rem;
  background: none;
  padding: 0 1.6rem;
  position: relative;
  color: var(--paragraph);
  background: var(--code-bg);
  border-radius: var(--small-radius) var(--small-radius) 0 0;
}

.is-active {
  pointer-events: none;
}

.is-not-active {
  border: none;
  color: var(--code-number-color);
  transition: color 0.3s ease-in-out;

  &:is(:focus, :hover) {
    color: var(--paragraph);
  }
}
