@keyframes bouge {
  from {
    translate: 0 0;
    rotate: 3deg;
  }
  to {
    translate: 0 5px;
    rotate: -5deg;
  }
}

.article {
  border-radius: 0.8rem;
  border: 2px solid var(--locale-border-color);
  background: var(--locale-background);
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem 2.4rem;
}

.new-article {
  &::after {
    content: '';
    position: absolute;
    width: 6.4rem;
    height: 6.4rem;
    right: -21px;
    bottom: -12px;
    background: url(/assets/fire-front-color.png) no-repeat center / cover;
    animation: bouge 1.5s infinite alternate-reverse;
  }
}
