{
  "tabWidth": 2,
  "printWidth": 180,
  "endOfLine": "auto",
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrder": [
    "^@types/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@pages/(.*)$",
    "^@GlobalComponents/(.*)$",
    "^@stickers/(.*)$",
    "^@modals/(.*)$",
    "^@components/(.*)$",
    "^@animations/(.*)$",
    "^@libraries/(.*)$",
    "^@providers/(.*)$",
    "^@stories/(.*)$",
    "^@graphql/(.*)$",
    "^@layouts/(.*)$",
    "^@queries/(.*)$",
    "^@helpers/(.*)$",
    "^@styles/(.*)$",
    "^@themes/(.*)$",
    "^@fonts/(.*)$",
    "^@icons/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^@data/(.*)$",
    "^@lib/(.*)$",
    "^[./]"
  ]
}
