.options {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 1.6rem 1rem;
  border: none;
  background: none;
  border-radius: var(--small-radius);
  transition: 0.15s ease-in-out;

  &:is(:focus, :hover) {
    > div {
      background: var(--tertiary-button-color);
    }
  }
}
