.link {
  font-weight: 500;
  color: var(--color);
  background-repeat: no-repeat;
  background-size: 100% 250%;
  background-position: 0% 50%;
  transition: background-position 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:is(:hover, :focus) {
    background-position: 0% 70%;
  }
}

.sky {
  background-image: linear-gradient(transparent 65%, var(--underline-link-sky) 0%);
}

.pink {
  background-image: linear-gradient(transparent 65%, var(--underline-link-pink) 0%);
}

.indigo {
  background-image: linear-gradient(transparent 65%, var(--underline-link-indigo) 0%);
}
