.toc {
  gap: 1.2rem;
  top: 3.6rem;
  width: 400px;
  display: flex;
  position: sticky;
  font-size: 1.8rem;
  flex-direction: column;
  margin-left: calc(100% + 2.4rem + 3.6rem);
  height: 0;

  @media screen and (max-width: 1599px) {
    display: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--paragraph);
  }
}
