.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @media screen and (max-width: 400px) {
    padding: 0 2rem;
  }
}

.heading {
  margin: 2rem 0 1rem;

  p {
    color: var(--social-color);
  }
}
