@import './src/styles/_breakpoints.scss';
@import './src/styles/_mixins.scss';

.comment-form-wrapper {
  width: 100%;
  padding: 1.6rem 2.4rem;
  background: var(--locale-background);
  border: 3px solid var(--locale-border-color);
  border-radius: 0.8rem;
}

.is-not-modal {
  position: relative;

  @include wrapper;
  margin-bottom: 0;

  @media screen and (max-width: $sm) {
    margin: 0;
    width: calc(100%);
  }

  &::after {
    content: '';
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    right: -16px;
    top: -20px;
    background: url(/assets/3d/headphone-dynamic-color.png) no-repeat center / cover;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.disabled {
  opacity: 0.75;
  cursor: no-drop;
}
