.programming-languages-list {
  width: 100%;
  margin-top: -4rem;
  position: absolute;
}

.navigation {
  width: 100%;
  gap: 0.4rem;
  display: flex;
  position: absolute;
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -14px;
  border-radius: var(--small-radius) var(--small-radius) 0 0;
}

.languages-list {
  gap: 0.4rem;
  display: flex;
  position: relative;
}
