.heading {
  color: var(--heading);
  margin-top: 4.8rem;

  a {
    position: relative;

    &::before {
      content: '\2693';
      position: absolute;
      top: 50%;
      left: -4.2rem;
      transform: translate(0, -50%);
      opacity: 0;
      font-size: 2.4rem;
      transition: 0.15s ease-in-out;
    }

    &:is(:hover, :focus) {
      text-decoration: underline;

      &::before {
        opacity: 1;
      }
    }
  }
}

.ul {
  margin-left: clamp(1.2rem, 3vw, 3.6rem);
}
