.avatar {
  position: relative;
  border-radius: var(--small-radius);
  overflow: hidden;
  border: 2px solid var(--locale-border-color);
}

.default {
  width: 3.5rem;
  height: 3.5rem;
}

.big {
  width: 4.8rem;
  height: 4.8rem;
}
