@mixin hover-effect {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: var(--locale-is-hover);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:is(:hover, :focus) {
    &::before {
      left: 0;
      width: 100%;
    }
  }
}
