:root {
  // Primary colors
  --gray-950: hsl(212, 32%, 8%);
  --gray-900: hsl(212, 33%, 10%);
  --gray-870: hsl(212, 31%, 13%);
  --gray-850: hsl(212, 31%, 15%);
  --gray-800: hsl(212, 31%, 20%);
  --gray-700: hsl(213, 31%, 30%);
  --gray-600: hsl(212, 31%, 40%);
  --gray-500: hsl(212, 31%, 50%);
  --gray-400: hsl(212, 31%, 60%);
  --gray-300: hsl(211, 31%, 70%);
  --gray-250: hsl(212, 31%, 85%);
  --gray-200: hsl(212, 31%, 80%);
  --gray-100: hsl(212, 29%, 90%);
  --gray-50: hsl(210, 31%, 95%);

  // Neutral colors
  --neutral-900: hsl(240, 6%, 10%);
  --neutral-800: hsl(240, 4%, 20%);
  --neutral-700: hsl(240, 5%, 30%);
  --neutral-600: hsl(240, 4%, 40%);
  --neutral-500: hsl(240, 4%, 50%);
  --neutral-400: hsl(240, 4%, 60%);
  --neutral-300: hsl(240, 5%, 70%);
  --neutral-200: hsl(240, 4%, 80%);
  --neutral-100: hsl(240, 6%, 90%);
  --neutral-50: hsl(240, 4%, 95%);
  --white: hsl(0, 0%, 100%);

  // Colors
  --primary: hsl(259, 100%, 50%);
  --yellow: hsl(58, 100%, 50%);
  --cyan: hsl(176, 100%, 60%);
  --pink: hsl(324, 100%, 50%);

  --logo-primary-color: hsl(279, 100%, 50%);
  --logo-secondary-color: hsl(259, 100%, 50%);

  // Global presets
  --color: var(--gray-900);
  --background: var(--gray-50);

  --padding-desktop: 20rem;
  --padding-xxl: 12rem;
  --padding-xl: 10rem;
  --padding-lg: 8rem;
  --padding-md: 6rem;
  --padding-sm: 2rem;

  --outline-color: var(--logo-primary-color);
  --selection-font-color: var(--white);
  --selection-background-color: var(--primary);

  // Components presets
  --secondary-button-color: var(--neutral-900);
  --secondary-button-color-hover: hsl(259, 100%, 40%);
  --secondary-button-padding: 0.8rem 1.6rem;

  --tertiary-button-bg: var(--gray-50);
  --tertiary-button-color: var(--gray-500);
  --tertiary-button-color-hover: var(--gray-100);

  --text-decoration-wavy-color: var(--logo-primary-color);

  --locale-border-color: var(--gray-250);
  --locale-background: var(--white);
  --locale-is-hover: hsl(210, 31%, 97%);

  --hamburger-menu-color: var(--gray-900);

  --social-color: var(--gray-700);

  --status-color: var(--pink);

  --placeholder-color: var(--gray-400);

  --blur-background: hsl(212, 29%, 90%, 50%);

  --paragraph: var(--gray-700);
  --toc-item: var(--gray-700);
  --span: var(--gray-500);

  --heading: var(--primary);

  --input-color: var(--gray-600);
  --input-bg: var(--gray-100);

  --sticker-button-bg: var(--primary);
  --sticker-button-color: var(--white);

  --wavy-lines: hsl(212, 31%, 80%);
  --wavies-top-color: hsl(241, 100%, 50%);
  --wavies-bottom-color: hsl(284, 100%, 70%);

  --email-input-bg: var(--gray-50);
  --newsletter-bg: var(--white);
  --join-our-community-bg: var(--gray-100);

  --dots: var(--gray-250);
  --code-number-color: var(--gray-300);
  --code-dots: var(--gray-100);
  --code-bg: var(--white);
  --code-article-bg: var(--gray-50);
  --code-heading-bg: hsl(210, 31%, 97%);
  --code-highlighted: hsl(210, 31%, 96%);
  --code-highlighted-hover: hsl(210, 31%, 94%);
  --code-scrollbar: hsl(210, 31%, 94%);
  --code-line-numbers: var(--gray-300);

  --note-information-color: hsl(250, 65%, 91%);
  --note-information-color-border: hsl(259, 100%, 50%, 1);

  --note-good-practice-color: hsl(138, 33%, 88%);
  --note-good-practice-color-border: hsl(115, 100%, 35%);

  --note-bad-practice-color: hsl(321, 43%, 90%);
  --note-bad-practice-color-border: hsl(335, 100%, 50%);

  --success-opacity: hsl(165, 77%, 40%, 50%);
  --success: hsl(165, 77%, 40%);
  --error: hsl(335, 100%, 43%);
  --warn: hsl(45, 86%, 42%);
  --info: hsl(215, 91%, 45%);
  --success-bg: hsl(177, 41%, 89%);
  --error-bg: hsl(312, 26%, 89%);
  --warn-bg: hsl(54, 23%, 91%);
  --info-bg: hsl(215, 57%, 92%);
  --success-paragraph: hsl(147, 44%, 20%);
  --error-paragraph: hsl(311, 37%, 20%);
  --info-paragraph: hsl(246, 47%, 20%);

  --aside-button: var(--pink);

  --toc-item-link-hidden: var(--paragraph);
  --toc-item-link-visible: var(--gray-700);
  --toc-item-link-read: var(--success);
  --toc-item-link-read-text: var(--success-opacity);

  --delete-bg: hsl(335, 100%, 95%);

  --sandpack-bg: hsl(210, 31%, 97%);
  --sandpack-dots: var(--gray-100);
  --sandpack-border: var(--code-dots);

  --socials: var(--gray-300);
  --socials-hover: var(--gray-400);

  // Sizes
  --radius: 1.2rem;
  --small-radius: 0.6rem;
  --height-menu: clamp(6rem, 5vw, 12rem);
}

[data-theme='dark'] {
  // Global presets
  --color: var(--gray-50);
  --background: var(--gray-950);
  --outline-color: var(--logo-secondary-color);

  // Components presets
  --secondary-button-color: var(--white);
  --secondary-button-color-hover: hsl(259, 100%, 60%);

  --tertiary-button-bg: var(--gray-850);
  --tertiary-button-color: var(--gray-300);
  --tertiary-button-color-hover: var(--gray-800);

  --text-decoration-wavy-color: hsl(259, 100%, 50%);

  --locale-border-color: var(--gray-800);
  --locale-background: var(--gray-900);
  --locale-is-hover: var(--gray-870);

  --hamburger-menu-color: var(--gray-50);

  --social-color: var(--gray-200);

  --status-color: var(--cyan);

  --blur-background: hsl(212, 33%, 10%, 75%);

  --paragraph: var(--gray-200);
  --toc-item: var(--gray-200);
  --span: var(--gray-400);

  --heading: var(--cyan);

  --input-color: var(--gray-100);
  --input-bg: var(--gray-900);

  --sticker-button-bg: var(--white);
  --sticker-button-color: var(--gray-900);

  --wavy-lines: hsl(212, 31%, 20%);
  --wavies-top-color: hsl(234, 100%, 60%);
  --wavies-bottom-color: deepskyblue;

  --email-input-bg: var(--gray-870);
  --newsletter-bg: var(--gray-900);
  --join-our-community-bg: hsl(213, 32%, 15%);

  --dots: var(--gray-700);
  --code-number-color: var(--gray-600);
  --code-dots: var(--gray-800);
  --code-bg: var(--gray-900);
  --code-article-bg: var(--gray-850);
  --code-heading-bg: var(--gray-870);
  --code-highlighted: var(--gray-850);
  --code-highlighted-hover: hsl(212, 31%, 13%);
  --code-scrollbar: var(--gray-800);
  --code-line-numbers: var(--gray-600);

  --note-information-color: hsl(246, 47%, 13%);
  --note-good-practice-color: hsl(147, 44%, 10%);
  --note-bad-practice-color: hsl(311, 37%, 11%);

  --success-opacity: hsl(165, 77%, 48%, 50%);
  --success: hsl(165, 77%, 48%);
  --error: hsl(335, 100%, 50%);
  --warn: hsl(45, 86%, 62%);
  --info: hsl(215, 91%, 65%);
  --success-bg: hsl(182, 44%, 11%);
  --error-bg: hsl(311, 37%, 11%);
  --warn-bg: hsl(69, 10%, 14%);
  --info-bg: hsl(214, 40%, 14%);
  --success-paragraph: hsl(147, 44%, 92%);
  --error-paragraph: hsl(311, 37%, 92%);
  --info-paragraph: hsl(246, 47%, 92%);

  --aside-button: var(--primary);

  --toc-item-link-visible: var(--gray-100);

  --delete-bg: hsl(335, 100%, 50%);

  --form-modal: hsl(212, 31%, 12%);
  --sandpack-bg: hsl(208, 82%, 13%);
  --sandpack-dots: hsl(208, 82%, 20%);
  --sandpack-border: var(--sandpack-dots);

  --socials: var(--gray-700);
  --socials-hover: var(--gray-600);
}
