@import './breakpoints';
@import './mixins';

html[data-theme='dark'] {
  [data-rehype-pretty-code-fragment] {
    &:has(pre[data-theme='dark'], code[data-theme='dark']) {
      .code-container.light,
      pre[data-theme='light'],
      code[data-theme='light'] {
        display: none;
      }
    }

    @media screen and (max-width: $sm) {
      border-left: 0;
      border-right: 0;
    }
  }
}

html[data-theme='light'] {
  [data-rehype-pretty-code-fragment] {
    &:has(pre[data-theme='light'], code[data-theme='light']) {
      .code-container.dark,
      pre[data-theme='dark'],
      code[data-theme='dark'] {
        display: none;
      }
    }

    @media screen and (max-width: $sm) {
      border-left: 0;
      border-right: 0;
    }
  }
}

span[data-rehype-pretty-code-fragment] {
  border: none !important;
  background: var(--code-bg);
  padding: 0.2rem 0.6rem !important;
  margin: 0 !important;
  border-radius: var(--radius);
}

.note {
  [data-rehype-pretty-code-fragment] {
    .code-container {
      @media screen and (max-width: $sm) {
        border-radius: var(--radius);
        border-left: 2px solid var(--code-dots);
        border-right: 2px solid var(--code-dots);
      }
    }
  }
}

[data-rehype-pretty-code-fragment] {
  min-width: 0;
  position: relative;

  @include wrapper;

  .code {
    padding: 2.4rem;
    display: inline-block;

    &-header {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      padding: 1rem 2.4rem;
    }
  }

  &:has(> code) {
    padding: 0.6rem;
  }

  &:has([data-line-numbers]) {
    .code {
      padding: 2.4rem 0 !important;
    }

    .code-header {
      padding: 1rem 2.4rem;
      margin: 0 !important;
    }

    .line {
      display: inline-block;
      width: 100%;
    }

    [data-line-numbers] {
      display: inline-block;

      .line {
        &:hover {
          background: var(--code-highlighted-hover);
        }
      }
    }
  }

  .line {
    line-height: 3rem;

    &.highlighted {
      background: var(--code-highlighted);
    }
  }
}

code[data-line-numbers] {
  counter-reset: line;

  > .line {
    padding-right: 2.4rem;

    &::before {
      counter-increment: line;
      content: counter(line);

      display: inline-block;
      width: 2rem;
      margin: 0 1.6rem 0 2.4rem;
      text-align: left;
      color: var(--code-line-numbers);
    }
  }

  [data-line-numbers-max-digits='2'] > .line::before {
    width: 2rem;
  }

  [data-line-numbers-max-digits='3'] > .line::before {
    width: 3rem;
  }
}
