@import './breakpoints';
@import './mixins';

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}

[data-rehype-pretty-code-fragment] {
  width: calc(100% + calc(2.4rem * 2));
  margin: 2.4rem 0 2.4rem -2.4rem;
  background: var(--gray-900);
  border-radius: 1.2rem;
  overflow-y: hidden;
  overflow-x: auto;
  min-width: 0;

  @media screen and (max-width: $sm) {
    border-radius: 0;
  }

  &:has([data-rehype-pretty-code-title]) {
    padding: 0 2.4rem 2.4rem 2.4rem !important;

    [data-rehype-pretty-code-title] {
      padding: 2.4rem 0 1.2rem 0;
      color: var(--cyan);
    }
  }

  &:has(:not([data-rehype-pretty-code-title])) {
    padding: 2.4rem;
  }

  &:has(> code) {
    padding: 0.6rem;
  }

  @include scrollbar;

  &::-webkit-scrollbar {
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-800);
  }

  .line {
    line-height: 3rem;
  }
}

code[data-line-numbers] {
  counter-reset: line;

  > .line::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 2rem;
    margin-right: 2rem;
    text-align: left;
    color: hsl(230, 55%, 67%, 40%);
  }

  [data-line-numbers-max-digits='2'] > .line::before {
    width: 2rem;
  }

  [data-line-numbers-max-digits='3'] > .line::before {
    width: 3rem;
  }
}
