@import './src/styles/_mixins.scss';

.toc-item-link {
  width: 100%;
  outline: none !important;
  padding: 1rem;
  border-radius: var(--radius);
  overflow: hidden;

  gap: 1.2rem;
  display: flex;
  align-items: center;

  @include hover-effect;

  transition: 0.15s ease-in-out;

  svg {
    flex-shrink: 0;
  }
}

.toc-item-link-hidden {
  opacity: 0.5;
  color: var(--toc-item-link-hidden);
}

.toc-item-link-visible {
  color: var(--toc-item-link-visible);
}

.toc-item-link-read {
  color: var(--toc-item-link-read-text);
}

.default {
  position: relative;
  background-size: 0% 25%;
  background-position: 0% 50%;
  background-repeat: no-repeat;

  background-image: linear-gradient(transparent 65%, var(--toc-item-link-read) 0%);
  transition: background-size 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active {
  background-size: 100% 25%;
}
