.wrapper {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
}

.span {
  font-size: clamp(1.6rem, 5vw, 1.8rem);
  text-transform: uppercase;
}

.title {
  font-size: clamp(1.8rem, 5vw, 2.4rem);
}
