@import './src/styles/_mixins.scss';

.note {
  background: var(--error-bg);
  border-left: 3px solid var(--error);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      &:is(:hover, :focus) {
        text-decoration-color: var(--error);
      }
    }
  }

  &::after {
    left: -27px;
    top: -16px;
    rotate: 30deg;
    background: url(/assets/thumb-down-dynamic-color.png) no-repeat center / cover;
  }
}

.hero-pattern {
  &::before {
    background: url(/assets/hero-pattern-bad-practice.png);
  }
}
