@import './src/styles/_mixins.scss';

.note {
  background: var(--success-bg);
  border-left: 3px solid var(--success);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      &:is(:hover, :focus) {
        text-decoration-color: var(--success);
      }
    }
  }

  &::after {
    left: -27px;
    background: url(/assets/thumb-up-dynamic-color.png) no-repeat center / cover;
  }
}

.hero-pattern {
  &::before {
    background: url(/assets/hero-pattern-good-practice.png);
  }
}
