.span {
  z-index: 109;
  display: flex;
  gap: 1rem;
  position: relative;
}

.tab {
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--code-heading-bg);
  border-top: 2px solid var(--code-dots);
  border-left: 2px solid var(--code-dots);
  border-right: 2px solid var(--code-dots);
  border-radius: var(--small-radius) var(--small-radius) 0 0;
}
