.button {
  width: fit-content;
  border: none;
  background: none;
  padding: 1rem 0;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}
