@import './src/styles/_breakpoints.scss';

.sticky {
  gap: 2.4rem;
  top: 4rem;
  width: fit-content;
  position: sticky;
  margin-left: -9.6rem;
  pointer-events: all;
  align-items: center;

  button {
    margin-right: 0;
  }

  @media screen and (max-width: $lg) {
    display: none;
  }
}
