.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--dots);
}

.big {
  width: 10px;
  height: 10px;
  background: var(--code-dots) !important;
}

.sandpack {
  width: 10px;
  height: 10px;
  background: var(--sandpack-dots) !important;
}
