@import './src/styles/_breakpoints.scss';
@import './src/styles/_mixins.scss';

.toc {
  top: 15%;
  right: 0;
  width: 100%;
  max-width: 560px;
  position: fixed;
  font-size: 1.8rem;
  background: var(--locale-background);
  border-top: 3px solid var(--locale-border-color);
  border-left: 3px solid var(--locale-border-color);
  border-bottom: 3px solid var(--locale-border-color);
  border-radius: 2.4rem 0 0 2.4rem;
  padding: 2.4rem 2.4rem 1.6rem 2.4rem;
  transition: 0.15s ease-in-out;
  z-index: 1;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--paragraph);
  }

  @media screen and (max-width: $sm) {
    display: none !important;
  }
}

.toc-active {
  box-shadow: 0px 3px 10px 2px hsla(210, 30%, 4%, 0.1);
}

.toc-list {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: auto;

  @include scrollbar;
}

.button {
  position: absolute;
  background: var(--aside-button);
  border: none;
  top: 4.8rem;
  left: -2.7rem;
  width: 2.4rem;
  height: 4.2rem;
  border-radius: 0.6rem 0 0 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    translate: 0 4px;
  }

  &::after {
    translate: 0 -4px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    border-radius: 2px;
    background: var(--white);
    transition: 0.15s ease-in-out;
  }
}

.active {
  &::before {
    animation: before 0.15s linear alternate both;
  }
  &::after {
    animation: after 0.15s linear alternate both;
  }
}

@keyframes before {
  0% {
    translate: 0 4px;
  }
  50% {
    translate: 0 0;
  }
  100% {
    rotate: 45deg;
    translate: 0 0;
  }
}

@keyframes after {
  0% {
    translate: 0 -4px;
  }
  50% {
    translate: 0 0;
  }
  100% {
    rotate: -45deg;
    translate: 0 0;
  }
}
