.wrapper {
  padding: 0.65rem 0.65rem 0.65rem 1.2rem;
  border: 2px solid var(--locale-border-color);
  background: var(--locale-background);
  border-radius: 1rem;
  height: 48px;

  display: flex;
  gap: 1rem;
  align-items: center;
}
