.link {
  font-weight: 500;
  color: var(--color);
  text-decoration-thickness: 3px;
  text-decoration-line: underline;
}

.sky {
  text-decoration-color: var(--underline-link-sky);
}

.pink {
  text-decoration-color: var(--underline-link-pink);
}

.indigo {
  text-decoration-color: var(--underline-link-indigo);
}
