@import './src/styles/_mixins.scss';

.comment-form-wrapper {
  padding: 1.6rem 2.4rem;
  background: var(--locale-background);
  border: 3px solid var(--locale-border-color);
  position: relative;
  border-radius: 0.8rem;

  @include wrapper;
  margin-bottom: 0;

  &::after {
    content: '';
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    right: -16px;
    top: -20px;
    background: url(/assets/headphone-dynamic-color.png) no-repeat center / cover;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.disabled {
  opacity: 0.75;
  cursor: no-drop;
}
