@import './src/styles/_breakpoints.scss';

@keyframes bouge {
  from {
    translate: 0 0;
    rotate: 3deg;
  }
  to {
    translate: 0 5px;
    rotate: -5deg;
  }
}

.article {
  border-radius: 0.8rem;
  border: 2px solid var(--locale-border-color);
  background: var(--locale-background);
  position: relative;

  @media screen and (max-width: $sm) {
    border-radius: 2.4rem;
    padding: 2rem;
  }
}

.new-article {
  &::after {
    content: '';
    position: absolute;
    width: 6.4rem;
    height: 6.4rem;
    right: -21px;
    bottom: -12px;
    background: url(/assets/3d/fire-front-color.png) no-repeat center / cover;
    animation: bouge 1.5s infinite alternate-reverse;
  }
}
