@import './src/styles/_breakpoints.scss';

.container {
  background: var(--code-bg);
  border: 2px solid var(--code-dots);
  border-radius: var(--radius);
  overflow: hidden;

  @media screen and (max-width: $sm) {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
